
body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #333;
}


h1 {
background-color: rgb(234, 182, 145);
}


table {
    width: 40%;
    height: 30%;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}


form {
    background-color: #fbb968;
    background-image: linear-gradient(red,pink,blue,yellow,rgb(66,0,0,0.5),white);
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    
}

input[type="submit"] {
    background-color: #4c5eaf;
    color: white;
    
}




